<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <coverage/>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <!--    <logging>-->
    <!--        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>-->
    <!--        <log type="coverage-clover" target="coverage/phpunit/clover.xml" showUncoveredFiles="true"/>-->
    <!--        &lt;!&ndash;<log type="coverage-html" target="coverage/phpunit/html" lowUpperBound="35" highLowerBound="70"/>&ndash;&gt;-->
    <!--    </logging>-->
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <!--        <env name="DB_CONNECTION" value="sqlite"/>-->
        <!--        <env name="DB_DATABASE" value=":memory:"/>-->
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DATABASE" value="mexion_testbench"/>
        <env name="DB_HOST" value="mysql"/>
        <env name="DB_POST" value="3306"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value="somelongpassword332211"/>
        <!--                <env name="DB_USERNAME" value="root"/>-->
        <!--                <env name="DB_PASSWORD" value="secret"/>-->
    </php>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/Database/Seeders/Locations</directory>
        </exclude>
    </source>
</phpunit>
